
<%= form_for [:admin, @dish],:html => {class:'form-horizontal col-md-9'} do |f| %>
    <div>
      <% if @dish.errors.any?%>
          <div class="errors genre">
            Total errors: <%= @dish.errors.count %>
            <ul>
              <% @dish.errors.full_messages.each do |message| %>
                  <li> <%=	message  %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :name, class: 'col-md-3 control-label'	  %>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control'  %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :price, class: 'col-md-3 control-label'	  %>
      <div class="col-md-9">
        <%= f.text_area :price, class: 'form-control', rows: 3 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, class: 'col-md-3 control-label'	  %>
      <div class="col-md-9">
        <%= f.text_area :description, class: 'form-control', rows: 3 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit class: 'btn btn-lg btn-primary' %>
    </div>
<% end %>